.Rproj.user
.Rhistory
.RData
.Ruserdata

Local Elections/partygif/

Local Elections/partygiflow/

Local Elections/gifparty\.gif

Search/devsearch\.mov

Search/search\.mov

Search/\.devsearch\.mov\.icloud

Search/\.search\.mov\.icloud

50 Drugs/dontinclude/script\.R

Local Elections/\.party\.gif\.icloud
