*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
}

div.flex-container {
  /*width: 100%;*/
  column-count: 3;
  column-width: auto;
}

form.filters {
  /*height: 10vh;*/
  padding: 20px;
  width: 100%;
}

div#checklist span * {
    display: inline;
}

div#checklist * {
    display: block;
}

div#classlist span * {
    display: inline;
}

div#classlist * {
    display: block;
}

input {
  font-size: 400%;
  background: none;
  border: none;
  outline: 0;
}

label {
    font-size: 400%;
    padding-left: 20px;
}

button {
    margin: 6px 2ex;
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    color: white;
    width: 200px;
    background-color: #BBB;
}

button:hover {
    background-color: #18515E;
    color: white;
}

p.title {
    text-decoration: underline;
    color:white;
    text-decoration-color: white;
    background-color: #18515E;
    font-size: 2em;
}
p.title.examplename {
    background-color: rgb(94, 24, 24);
}
p.classinfo {
    font-weight: bolder;
}
p.example {
    font-style: italic;
    font-weight: bold;
}
p.sideeffects {
    color: red;
}
p.example, p.pcpk, p.indication, p.moa, p.patientinfo, p.sideeffects, p.classinfo {
    padding-left: 40px;
}